.layout-sidebar {
  flex-basis: 15.5rem;
  flex-shrink: 0;
  overflow: hidden;
  /* min-height: 100vh; */
  background: var(--white);
  transition: flex-basis 0.1s ease-in-out;
}

.sidebar {
  width: 15.5rem;
  min-height: 100vh;
  background: var(--white);
}

.sidebar__header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1.25rem;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.sidebar__header__title {
  font: var(--headline1);
  color: var(--black);
}

.sidebar__header__logo {
  display: flex;
  gap: 0.5rem;
}

.navigation__principal__item,
.navigation__categorias {
  padding-right: 0.5rem;
}

.navigation__categorias_title {
  padding: 1rem 1.25rem;
  font: var(--headline2);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navigation__principal__link,
.navigation__categorias__link {
  display: flex;
  align-items: center;
  padding: 0.75rem 1.25rem;
  font: var(--headline1);
  color: var(--grey);
  border-radius: 0 12px 12px 0;
  opacity: 1;
  will-change: opacity;
  transition: background 250ms, opacity 1s ease-in-out;
}

.is-active {
  background: var(--primary100);
  color: var(--primary);
}

.navigation__principal__text,
.navigation__categorias__text {
  padding-left: 1rem;
}

.navigation__categorias_title {
  transition: left 1s ease-in-out;
}

.menu-icon {
  cursor: pointer;
}
.menu-icon:active {
  transform: scale(0.96);
}
