@import "./wrapper.css";
@import "./navbar.css";
@import "./sidebar.css";
@import "./main.css";
@import "./animation.css";

:root {
  --fontbase: "Manrope", sans-serif;
  --headline1: bold 1rem/1.5rem var(--fontbase);
  --headline2: 900 0.8rem/1rem var(--fontbase);
  --text: 0.8rem/1.5rem var(--fontbase);
  --black: #000000;
  --primary: #0f56b3;
  --primary100: #c5dcfa;
  --grey-bg: #fbfbfb;
  --grey: #787878;
  --white: #ffffff;
}

body,
h1 {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}

.body {
  display: flex;
  background: var(--primary100);
}
